.navbt {
    border-radius: 0.375rem;
    width: 780px;
    margin: auto;
}
.socials {
    margin-right: 10px;
    size: 100%
}
body {
    text-align: center;
}
#embedplayer {
    margin: 10px;
    opacity: 0.9;
}
.img {
    opacity: 0.9;
}
